@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff'),
        url('Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff'),
        url('Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-SemiBold.eot');
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
        url('Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-SemiBold.woff2') format('woff2'),
        url('Manrope-SemiBold.woff') format('woff'),
        url('Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Light.eot');
    src: local('Manrope Light'), local('Manrope-Light'),
        url('Manrope-Light.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Light.woff2') format('woff2'),
        url('Manrope-Light.woff') format('woff'),
        url('Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Medium.woff2') format('woff2'),
        url('Manrope-Medium.woff') format('woff'),
        url('Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

